/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

a {
	color: #FFF;
		
		&:hover {
			padding: 2px 2px 2px 2px;
			border-radius: 2px;
			background-color: #FFF;
			color: #525252;
			text-decoration: none;
		}
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url(background.jpg);
	color: white;
	font-family: Droid Sans Fallback;
}

header {
	width: 954px;
	height: 90px;
	margin: 20px auto auto auto;
	padding: 10px 10px 10px 10px;
	background-color: rgba(255, 0, 0, 0.5);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	.status {
		margin-left: 350px;
	}

		.title {
			font-family: CabinSketch;
			font-size: 60pt;
			color: white;
			text-decoration: none;
		
				&:hover {
				background-color: rgba(255, 255, 255, 0);
				padding: 0px 0px 0px 0px;
			}
		}
}

footer {
	width: 954px;
	height: 20px;
	margin: auto;
	padding: 10px 10px 10px 10px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
h1 {
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 0 0;
}

.status {
	text-align: right;
}

input	 {
	width: 300px;
	height: 30px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	font-size: 25px;
	font-family: Droid Sans;
	border: none;
	border-radius: 10px;
}

#note_content	 {
	width: 300px;
	height: 100px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	font-size: 15px;
	font-family: Droid Sans;
	border: none;
	border-radius: 10px;
}

.submit {
	width: 100px;
	height: 40px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	border: none;
	border-radius: 10px;

	&:hover {
		background-color: black;
	}
}

#main_back {
	width: 954px;
	margin: auto;
	padding: 10px 10px 10px 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

#main_content {
	margin: 30px auto 30px auto;
}

#flash_notice {
	width: 500px;
	height: 25px;
	font-size: 20px;
	background-color: #D0FFA3;
	color: #475E31;
	border: 3px solid #475E31;
	margin: 10px auto 10px auto;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	text-align: center;
}

#flash_alert {
	width: 500px;
	height: 25px;
	font-size: 20px;
	background-color: #FFA3A3;
	color: #5E3131;
	border: 3px solid #5E3131;
	margin: 10px auto 10px auto;
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	text-align: center;
}

.pad_link {
	font-size: 20px;
}

a.create_button {
	width: 150px;
	height: 24px;
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	background-color: #525252;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	color: white;
	text-decoration: none;

		&:hover {
			background-color: #636363;
		}
}

.action_link {
	font-size: 10px;
	font-weight: normal;
}
